{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %}
{{ super() }}
<style>
    h2 {
    font-size: 18px;
    margin: 0 0 15px;
}
.login-form {
    width: 340px;
    margin: 30px auto;
}
.login-form form {        
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}    
.form-control, .btn {
    height: 36px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
.remember-me {
    margin: 8px 0 0 12px;
}
</style>

{% endblock %}
{% block app_content%}
            
            <div class="login-form">
                
                <form action="{{url_for('auth.login')}}" method="POST" novalidate>
                    <h2>Login</h2>
                    {{ form.csrf_token() }}
                    <div class="form-group">
                        {{ wtf.form_field(form.username) }}
                    </div>
                    <div class="form-group">
                        {{ wtf.form_field(form.password) }}
                    </div>
                    <div class="form-group clearfix">
                        <button type="submit" class="btn btn-primary pull-left">Sign in</button>
                    </div>
                
                <p>New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a>
                </p>
                <p>Forgot Your Password? <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a>
                </p>
                </form>
                
            </div>
           
            
{% endblock %}