{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{# Import JQuery #}
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script>
                    /**
                    * Adjust indices of form fields when removing line_items
                    */

                    function adjustIndices(removedIndex){ 
                        var $forms = $('.subform');

                        $forms.each(function(i){ 
                            var $form = $(this); 
                            var index = parseInt($form.data('index')); 
                            var newIndex = index - 1;

                            if (index < removedIndex) {
                                // Skip
                                return true;
                            }

                            // Change ID in form itself
                            $form.attr('id', $form.attr('id').replace(index, newIndex));
                            $form.data('index', newIndex);

                            // Change IDs in form inputs
                            $form.find('input').each(function(j) {
                                var $item = $(this);
                                $item.attr('id', $item.attr('id').replace(index, newIndex));
                                $item.attr('name', $item.attr('name').replace(index, newIndex));
                            });
                        });
                    }

                    /**
                    * Remove a form.
                    */

                    function removeForm() {
                        var $removedForm = $(this).closest('.subform');
                        var removedIndex = parseInt($removedForm.data('index'));

                        $removedForm.remove();

                        // Update indices
                        adjustIndices(removedIndex);
                    }

                    /**
                    * Add a new form.
                    */
                    function addForm() {
                        var $templateForm = $('#items-_-form');

                        if (!$templateForm) {
                            console.log('[ERROR] Cannot find template');
                            return;
                        }

                        // Get Last index
                        var $lastForm = $('.subform').last();

                        var newIndex = 0;

                        if ($lastForm.length > 0) {
                            newIndex = parseInt($lastForm.data('index')) + 1;
                        }

                        // Maximum of 20 subforms
                        if (newIndex > 20) {
                            console.log('[WARNING] Reached maximum number of elements');
                            return;
                        }

                        // Add elements
                        var $newForm = $templateForm.clone();

                        $newForm.attr('id', $newForm.attr('id').replace('_', newIndex));
                        $newForm.data('index', newIndex);

                        $newForm.find('input').each(function(idx) {
                            var $item = $(this);

                            $item.attr('id', $item.attr('id').replace('_', newIndex));
                            $item.attr('name', $item.attr('name').replace('_', newIndex));
                        });

                        // Append
                        $('#subforms-container').append($newForm);
                        $newForm.addClass('subform');
                        $newForm.removeClass('is-hidden');

                        $newForm.find('.remove').click(removeForm);
                    }


                    $(document).ready(function() {
                        removeForm();
                        $('#add').click(addForm);
                        $('.remove').click(removeForm);
                    });
                </script>

                <style>
                    .is-hidden {
                        display: none;
                    }
                </style>

                <form class="form form-horizontal" action="{{url_for('index')}}" method="POST" novalidate>
                    {{ form.hidden_tag() }}
                    {{ form.csrf_token() }}
                    <div>
                        {{ form.sender.label }}<br>
                        {{ form.sender(size=32) }}<br>
                        {% for error in form.sender.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div>
                        {{ form.recipient.label }}<br>
                        {{ form.recipient(size=32) }}<br>
                        {% for error in form.recipient.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div>
                        {{ form.items.label }}<br>
                        <a id="add" href="#">Add Item</a> 
                        <div id="subforms-container">
                            {% for item in form.items %}
                                <div id="item-{{ item.index0 }}-form" class="subform" data-index="{{  item.index0 }}"> 
                                    {{item}}
                                    <a class="remove" href="#">Remove</a>
                                </div>
                            {% endfor %}
                        </div>
                        {% for error in form.items.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                        
                    </div>
                    <div>
                        {{ form.notes.label }}<br>
                        {{ form.notes(size=32) }}<br>
                        {% for error in form.notes.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <input type="submit" value="next">
                </form>

            {# Form template #}
            <div id="items-_-form" class="is-hidden" data-index="_">
                <label for="items-_-price">Price</label>
                <input id="items-_-price" name="items-_-price" type="text" value="">

                <label for="items-_-quantity">Quantity</label>
                <input id="items-_-quantity" name="items-_-quantity" type="text">

                <label for="items-_-description">Description</label>
                <input id="items-_-description" name="items-_-description" type="text">
                <a class="remove" href="#">Remove</a>
            </div>
    
{% endblock %}