{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content%}
    <h1>User: {{ user.username }}</h1>
    {% for receipt in receipts%} 
        <div>
            <h3> Receipt - {{receipt.id}}</h3>
            sender: {{receipt.sender}}<br>
            recipient: {{receipt.recipient}}<br>
            items: {{receipt.items}}<br>
            notes: {{receipt.notes}}<br>
        </div>
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer receipts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older receipts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}